<!-- template.html -->
<!DOCTYPE html>
<html>
<body>
    The Bitcoin Address {{.BitcoinAddress}} got a relevant Transaction.<br>
    Transaction Details:<br>
    Value: {{.TransactionValue}}<br>
    Hash: {{.TransactionHash}}<br>
    Block: {{.BlockHeight}}<br>
</body>
</html>